<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suiterunner" parallel="tests" thread-count="5">

	<listeners>
			<listener class-name="com.yourlogo.ExtentReportListener.ExtentReporterListener" />
	</listeners>
	
	
  <test name="Test">
    <classes>
      <class name="com.yourlogo.testcases.LoginPageTest"></class>
      <class name="com.yourlogo.testcases.AlreadyAccountPageTest"></class>
      <class name="com.yourlogo.testcases.AddToCartPageTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suiterunner -->
